<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    

</head>
<body>
    <div class="header-container">
        <img src="{{ url_for('static', filename='imagens/Almeida_Logo.jpg') }}" alt="Minha Imagem" style="display: block; margin: 0 auto; max-width: 50%; height: auto;">
        <h1>Cadastro de Alunos</h1>
    </div>
    <form id="studentForm" enctype="multipart/form-data" method="POST">

        <label for="nome">Nome *</label> 
         <input type="text" id="nome" name="nome" required pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s]+$" title="O nome deve conter apenas letras e espaços."> 
        
         <label for="email">Email</label> 
         <input type="email" id="email" name="email"> 
         
         <label for="telefone">Telefone *</label> 
        <input type="tel" id="telefone" name="telefone" required pattern="\(\d{2}\) \d{4,5}-\d{4}" title="O telefone deve estar no formato (XX) XXXXX-XXXX."> 

        <label for="sexo">Sexo *</label>
        <select id="sexo" name="sexo" required>
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
        </select>

        <label for="dataNascimento">Data de Nascimento *</label>
        <input type="date" id="dataNascimento" name="dataNascimento" required>

        <label for="faixa">Faixa *</label>
        <select id="faixa" name="faixa" required>
            <option value="cinza">Cinza</option>
            <option value="amarela">Amarela</option>
            <option value="laranja">Laranja</option>
            <option value="verde">Verde</option>
            <option value="branca">Branca</option>
            <option value="azul">Azul</option>
            <option value="roxa">Roxa</option>
            <option value="marrom">Marrom</option>
            <option value="preta">Preta</option>
        </select>

        <label for="grau">Grau *</label>
        <select id="grau" name="grau" required>
            <option value="nenhum grau">nenhum Grau</option>
            <option value="1 Grau">1 Grau</option>
            <option value="2 Graus">2 Graus</option>
            <option value="3 Graus">3 Graus</option>
            <option value="4 Graus">4 Graus</option>
        </select>

        <label for="plano">Plano *</label>
        <select id="plano" name="plano" required>
            <option value="mensal">Mensal</option>
            <option value="trimestral">Trimestral</option>
            <option value="semestral">Semestral</option>
        </select>

        <label for="foto">Carregar Foto</label>
        <input type="file" id="foto" name="foto" accept="image/*">

        <button type="submit">Salvar</button>
        <label for="inputNome">Procurar Aluno</label>
        <input type="text" id="inputNome" placeholder="Digite o nome do aluno">
        <button type="button" onclick="procurar()">Procurar</button>

        
        <!-- Mensagens de Feedback -->
        
        <div id="successMessage" class="success-message" style="display: none;">
            Aluno salvo com sucesso!
        </div>
        <div id="errorMessage" class="error-message" style="display: none;">
            Ocorreu um erro ao salvar o aluno.
        </div>        
    </form>

    <h2>Tabela de Alunos</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody id="tabelaEstudantes">
            <!-- Rows will be added here -->
        </tbody>
    </table>
    
    <!-- Modal structure -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="modalBody" class="modal-body">
            
            <div id="modalContent" class="modal-contenr-left">
                <div>
                    <strong>ID:</strong> <span id="alunoId"></span><br>
                </div>
                <div>
                    <strong>Nome:</strong> <span id="alunoNome"></span>
                    <input type="text" id="editNome" style="display: none; width: 250px;">
                    <i class="fas fa-edit" onclick="toggleEdit('Nome')" style="cursor: pointer; margin-left: 10px;"></i>
                </div>
                <div>
                    <strong>Email:</strong> <span id="alunoEmail"></span>
                    <input type="email" id="editEmail" style="display: none; width: 250px;">
                    <i class="fas fa-edit" onclick="toggleEdit('Email')" style="cursor: pointer; margin-left: 10px;"></i>
                </div>
                <div>
                    <strong>Telefone:</strong> <span id="alunoTelefone"></span>
                    <input type="tel" id="editTelefone" style="display: none; width: 150px;">
                    <i class="fas fa-edit" onclick="toggleEdit('Telefone')" style="cursor: pointer; margin-left: 10px;"></i>
                </div>
                <div>
                    <strong>Sexo:</strong> <span id="alunoSexo"></span>
                    <select id="editSexo" style="display: none; width: 150px;">
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                    </select>
                    <i class="fas fa-edit" onclick="toggleEdit('Sexo')" style="cursor: pointer; margin-left: 10px;"></i>
                </div>
                <div>
                    <strong>Idade:</strong> <span id="alunoIdade"></span>
                    <input type="date" id="editDataNascimento" style="display: none; width: 150px;">
                    <i class="fas fa-edit" onclick="toggleEditIdade()" style="cursor: pointer; margin-left: 10px;"></i>
                </div>    
                <input type="hidden" id="editDataNascimentoHidden">                        
                <div>
                    <strong>Faixa:</strong> <span id="alunoFaixa"></span>
                    <select id="editFaixa" style="display: none; width: 150px;">
                        <option value="cinza">Cinza</option>
                        <option value="amarela">Amarela</option>
                        <option value="laranja">Laranja</option>
                        <option value="verde">Verde</option>
                        <option value="branca">Branca</option>
                        <option value="azul">Azul</option>
                        <option value="roxa">Roxa</option>
                        <option value="marrom">Marrom</option>
                        <option value="preta">Preta</option>
                    </select>
                    <i class="fas fa-edit" onclick="toggleEdit('Faixa')" style="cursor: pointer; margin-left: 10px;"></i>
                </div>
                <div>
                    <strong>Grau:</strong> <span id="alunoGrau"></span>
                    <select id="editGrau" style="display: none; width: 150px;">
                        <option value="nenhum grau">nenhum Grau</option>
                        <option value="1 Grau">1 Grau</option>
                        <option value="2 Graus">2 Graus</option>
                        <option value="3 Graus">3 Graus</option>
                        <option value="4 Graus">4 Graus</option>
                    </select>
                    <i class="fas fa-edit" onclick="toggleEdit('Grau')" style="cursor: pointer; margin-left: 10px;"></i>
                </div>
                <div>
                    <strong>Plano:</strong> <span id="alunoPlano"></span>
                    <select id="editPlano" style="display: none; width: 150px;">
                        <option value="mensal">Mensal</option>
                        <option value="trimestral">Trimestral</option>
                        <option value="semestral">Semestral</option>
                    </select>
                    <i class="fas fa-edit" onclick="toggleEdit('Plano')" style="cursor: pointer; margin-left: 10px;"></i>
                </div>
                <div class="modal-buttons">
                    <button onclick="atualizar()">Atualizar</button>
                    <button onclick="deletar()">Deletar</button>
                </div>
            </div>
                <div id="imageContainer" class="modal-content-right">
                    <div class="aspect-ratio-box">
                    <img id="alunoFoto" src="" alt="Foto do Aluno">
                </div>
            </div>
        </div>
    </div>
            
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
    
